# Google Analytics / Ads
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_GOOGLE_ADS_ID=

# SMTP Mail
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=info@enjoytaxi.nl
SMTP_PASS=
SMTP_FROM=info@enjoytaxi.nl
SMTP_TO=info@enjoytaxi.nl

# Site URL
NEXT_PUBLIC_SITE_URL=https://enjoytaxi.nl
